[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==1.11.28"
gitberg = "==0.7.2"
sorl-thumbnail = "*"
django-extensions = "*"
django-zurb-foundation = "*"
django-fontawesome = "*"
django-storages = "*"
django-el-pagination = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
pillow = "*"
dj-database-url = "*"
cachecontrol = "*"
lxml = "*"
boto3 = "*"
appdirs = "==1.4.3"

[requires]
python_version = "3.6"
