[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"

[packages]
django = ">=3.1.4"
gitberg = ">=0.7.4"
sorl-thumbnail = "*"
django-extensions = "*"
django-zurb-foundation = "*"
django-fontawesome-5 = "*"
django-storages = "*"
django-el-pagination = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
pillow = "*"
dj-database-url = "*"
cachecontrol = "*"
lxml = "*"
boto3 = "*"
appdirs = "==1.4.3"

[requires]
python_version = "3.9"
