appdirs==1.4.3
beautifulsoup4==4.11.1
boto3==1.21.40
botocore==1.24.40
CacheControl==0.12.10
cairocffi==0.8.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.2
distlib==0.3.4
dj-database-url==0.5.0
Django==2.2.15
django-debug-toolbar==3.2.4
django-el-pagination==3.3.0
django-extensions==3.1.5
django-fontawesome==1.0
django-storages==1.12.3
django-zurb-foundation==5.5.0
docopt==0.6.2
filelock==3.6.0
gitberg==0.8.0
gitdb==4.0.9
github3.py==3.2.0
GitPython==3.1.27
idna==3.3
isodate==0.6.1
Jinja2==3.1.1
jmespath==1.0.0
lxml==4.8.0
MarkupSafe==2.1.1
mock==2.0.0
msgpack==1.0.3
packaging==21.3
pbr==5.8.1
Pillow==9.1.0
platformdirs==2.5.1
pluggy==1.0.0
psycopg2-binary==2.9.3
py==1.11.0
pycparser==2.21
PyJWT==2.3.0
pymarc==4.2.0
pyOpenSSL==22.0.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
rdflib==6.1.1
requests==2.27.1
s3transfer==0.5.2
semver==2.2.0
sh==1.14.2
six==1.16.0
smmap==5.0.0
sorl-thumbnail==12.8.0
soupsieve==2.3.2.post1
SPARQLWrapper==2.0.0
sqlparse==0.4.2
toml==0.10.2
tox==3.25.0
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.14.1
wikipedia==1.4.0