dj-database-url==0.3.0
Django==1.8.11
django-debug-toolbar==1.3.0
django-extensions==1.5.0
django-el-pagination==2.1.1
django-secure==1.0.1
gunicorn==19.2.1
psycopg2==2.6
Werkzeug==0.10.1

django-zurb-foundation==5.5.0
django-fontawesome==0.2.2

# requests must be installed before github3 for this to install properly
requests==2.6.2
github3.py==0.9.5
celery==3.1.18
django-celery==3.1.16
#highlander-one==0.1.1
amqp==1.4.6
anyjson==0.3.3

#added for rdf and marc conversion
pymarc==3.0.3 
PyYAML==3.11
six==1.9.0
SPARQLWrapper==1.6.4
html5lib==0.999999
isodate==0.5.1
pyparsing==2.0.3
rdflib==4.2.0
rdflib-jsonld==0.3

#added for thumbnails
sorl-thumbnail==12.3
Pillow==2.9.0

#added for S3
boto==2.38.0
django-storages==1.1.8

#added for gitberg
git+https://github.com/gitenberg-dev/gitberg.git@880b121a5c4bdd9d36d9c9c6923d8d2439929959
sh==1.09