packages:
  yum:
    git: []
    cairo: []
    cairo-devel: []
    amazon-linux-extras: []
    libffi.x86_64: []
    libffi-devel: []
    gcc: []
    libjpeg-turbo-devel: []

commands:
  01_postgres_activate:
    command: sudo amazon-linux-extras enable postgresql11
  02_postgres_install:
    command: sudo yum install -y postgresql-devel  
  10_create_log_dir:
    command: "mkdir -p /var/log/django"
  20_touch_log_file:
    command: "touch /var/log/django/django.log"
  30_chown_log_file:
    command: "chmod 666 /var/log/django/django.log"
  40_create_upload_dir:
    command: "mkdir -p /var/app/bundle/2/app/upload"


container_commands:
  02_migratedb:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
    ignoreErrors: true
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
