packages:
  yum:
    git: []

commands:
  10_make_letsencrypt_folder:
    command: "if [ -d /opt/letsencrypt ]; then rm -r /opt/letsencrypt; fi; mkdir /opt/letsencrypt"
    leader_only: true
  20_make_directory_writeable:
    command: "chmod 664 /opt/letsencrypt"
    leader_only: true
  25_touch_log_file:
    command: "touch /var/log/letsencrypt_renewal.log"
  26_chmod_log_file:
    command: "chmod 666 /var/log/letsencrypt_renewal.log"

container_commands:
  30_copy_ini_file:
    command: "cp letsencrypt/cli.ini /opt/letsencrypt/"
    leader_only: true
  40_make_it_readable:
    command: "chmod 666 /opt/letsencrypt/cli.ini"
    leader_only: true
  50_copy_renewal_script:
    command: "cp letsencrypt/renew_cert.sh /opt/letsencrypt/"
    leader_only: true
  60_make_it_executable:
    command: "chmod +x /opt/letsencrypt/renew_cert.sh"
    leader_only: true
  70_create_cronjob:
    command: "echo \"5 5 * * 5 root /opt/letsencrypt/renew_cert.sh >> /var/log/letsencrypt_renewal.log 2>&1\" > /etc/cron.d/renew_letsencrypt"
    leader_only: true
  80_change_perms:
    command: "chmod 644 /etc/cron.d/renew_letsencrypt"
    leader_only: true
