packages:
  yum:
    git: []

files:
  "/var/log/letsencrypt_renewal.log":
    mode: "000664"
    owner: root
    group: root
    content: |
      Log Recreated.
  "/opt/elasticbeanstalk/tasks/taillogs.d/letsencrypt.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/letsencrypt_renewal.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/letsencrypt.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/letsencrypt_renewal.log

commands:
  01_make_letsencrypt_folder:
    command: "if [ -d /opt/letsencrypt ]; then rm -r /opt/letsencrypt; fi; mkdir /opt/letsencrypt"
  02_chown_dir:
    command: "chown root:root /opt/letsencrypt"
  03_make_directory_writeable:
    command: "chmod 664 /opt/letsencrypt"

container_commands:
  10_copy_ini_file:
    command: "cp letsencrypt/cli.ini /opt/letsencrypt/"
  11_chown_ini_file:
    command: "chown root:root /opt/letsencrypt/cli.ini"
  12_make_ini_readable:
    command: "chmod 666 /opt/letsencrypt/cli.ini"
  20_copy_renewal_script:
    command: "cp letsencrypt/renew_cert.sh /opt/letsencrypt/"
  21_chown_renewal_script:
    command: "chown root:root /opt/letsencrypt/renew_cert.sh"
  22_make_renewal_script_executable:
    command: "chmod 774 /opt/letsencrypt/renew_cert.sh"
  30_create_letsencrypt_cronjob:
    command: "echo \"*/15 * * * * root /opt/letsencrypt/renew_cert.sh >> /var/log/letsencrypt_renewal.log 2>&1\" > /etc/cron.d/renew_letsencrypt"
  31_make_letsencrypt_cronjob_executable:
    command: "chmod 644 /etc/cron.d/renew_letsencrypt"
