packages:
  yum:
    postgresql93: []
    postgresql93-devel.x86_64: []
    libffi.x86_64: []
    libffi-devel: []
    gcc: []

commands:
  10_create_log_dir:
    command: "mkdir -p /var/log/django"
  20_touch_log_file:
    command: "touch /var/log/django/django.log"
  30_chown_log_file:
    command: "chown wsgi:wsgi -R /var/log/django/ && chmod 666 /var/log/django/django.log"


container_commands:
  01_syncdb:
    command: "source /opt/python/run/venv/bin/activate && python manage.py syncdb --noinput"
    leader_only: true
  02_migratedb:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  05_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && ./manage.py collectstatic --noinput"

option_settings:
     - namespace: aws:elasticbeanstalk:container:python
       option_name: WSGIPath
       value: gitensite/wsgi.py
