packages:
  yum:
    postgresql93: []
    postgresql93-devel.x86_64: []
    libffi.x86_64: []
    gcc: []

container_commands:
  01_syncdb:
    command: "source /opt/python/run/venv/bin/activate && python manage.py syncdb --noinput"
    leader_only: true
  02_migratedb:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  /* 05_collectstatic: */
  /*   command: "source /opt/python/run/venv/bin/activate && ./manage.py collectstatic --noinput" */

option_settings:
     - namespace: aws:elasticbeanstalk:container:python
       option_name: WSGIPath
       value: gitensite/wsgi.py
