packages:
  yum:
    postgresql93: []
    postgresql93-devel.x86_64: []
    libffi.x86_64: []
    libffi-devel: []
    gcc: []

container_commands:
  00_make_log:
    command: "mkdir /var/log/django/ && touch /var/log/django/django.log && chown wsgi:wsgi /var/log/django -R && chmod 777 /var/log/django -R"
  01_syncdb:
    command: "source /opt/python/run/venv/bin/activate && python manage.py syncdb --noinput"
    leader_only: true
  02_migratedb:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  # /* 05_collectstatic: */
  # /*   command: "source /opt/python/run/venv/bin/activate && ./manage.py collectstatic --noinput" */

option_settings:
     - namespace: aws:elasticbeanstalk:container:python
       option_name: WSGIPath
       value: gitensite/wsgi.py
