{% extends 'frame.html' %}
{% load staticfiles %}

{% block body_content %}

{% for book in object_list %}
  <div class=row>
    <div class="small-2 columns">
      <img src="{% static 'covers/the-star-lord.jpg' %}">
    </div>
    <div class="small-10 columns">
      <div class=row>
        <h3><a href="{{ book.html_url }}">{{ book.name }}</a></h3>

      </div>
      <div class=row>
        <div class="small-6 columns">
        </div>
        <div class="small-6 columns">
        </div>
      </div>

      <div class="row collapse">
        <div class="small-3 large-2 columns">
          <span class="prefix">clone url</span>
        </div>
        <div class="small-9 large-10 columns">
          <input type="text" value={{ book.clone_url }} readonly="readonly">
        </div>
      </div>

      <div class="row">
        <a href="{{ book.html_url }}/issues">{{ book.open_issues }} Open Issues</a>
      </div>
      <div class="row">
        <strong>Contributors:</strong> {{ book.contributors }}
      </div>
      

    </div>
  </div>
{% endfor %}

{% endblock body_content %}
