<footer class="row">
  <div class="large-12 columns"><hr>
    <div class="row">

      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>

      <div class="large-6 small-12 columns">
        <ul class="inline-list right">
          <li><a href="https://twitter.com/gitenberg">twitter</a></li>
          <li><a href="https://github.com/gitenberg">github</a></li>
          <li><a href="://groups.google.com/forum/#!forum/gitenberg-project">mailing list</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
