<footer class="row">
  <div class="large-12 columns"><hr>
    <div class="row">

      <div class="large-6 columns">
        <p><span class="reverse">&copy;</span> 
        Website copy licensed <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 (Public Domain)</a></p>
      </div>

      <div class="large-6 small-12 columns">
        <ul class="inline-list right">
          <li><a href="https://twitter.com/gitenberg"><i class="fa fa-twitter" style="color:black"></i> twitter</a></li>
          <li>
            <a href="https://github.com/gitenberg-dev"><i class="fa fa-github" style="color:black"></i> github</a>
            </li>
          <li><a href="https://groups.google.com/forum/#!forum/gitenberg-project"><i class="fa fa-envelope-o" style="color:black"></i> mailing list</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
