{% extends 'frame.html' %} {% load fontawesome %} {% load staticfiles %} {% block title %} GITenberg - Making beautiful books in the public domain {% endblock title %} {% block body_content %}
<!-- top panel -->
<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <!-- left column -->
            <div class="large-8 small-12 columns">
                <h3>Interested in contributing?</h3>
                <hr>
                <p style="text-align:justify">Awesome! For now there are a few things you can do depending on your interest and skill level. </p>
                <p style="text-align:center">
                    <i class="fa fa-github"></i> All of these things will require a Github account, so <a href="https://github.com/join">please make one.</a> <i class="fa fa-github"></i>
                </p>
                <p style="text-align:justify">
                    Firstly, if you find an error or typo in any of the books, report it in the 'Issues' tab on that repo. If you would like to offer changes: fork, edit and create a Pull Request. If you would like to make suggestions, help in another way, or would like to get more involved, you can join the project mailing list.
                </p>
            </div>
            <!-- right column -->
            <div class="large-4 small-12 columns">
                <h3>Join our mailing list</h3>
                <hr> {% include 'partials/sign-up-announce.htmldjango' %}
            </div>
        </div>
    </div>
</div>
<!-- Classifications & Portals -->
<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <!-- left column -->
            <div class="large-4 small-6 columns">
                <h4 class="centered"><i class="fa fa-code"></i> Developers</h4>
                <hr>
                <p></p>
                <ul>
                    <li>Fork <a href="https://github.com/gitenberg-dev">this site</a> and submit pull requests</li>
                    <li>
                        Convert Project Gutenberg <a href="https://github.com/gitenberg-dev/pg-epubmaker">HTML to ePub</a>
                    </li>
                    <li>
                        Help develop and implement a <a href="https://github.com/gitenberg-dev/metadata">metadata specification for books.</a>
                    </li>
                    <li>Write or update <a href="https://github.com/gitenberg-dev/documentation">documentation</a></li>
                </ul>
            </div>
            <!-- center column -->
            <div class="large-4 small-6 columns">
                <h4 class="centered"><i class="fa fa-pencil"></i> Editors</h4>
                <hr>
                <ul>
                    <li>
                        Help develop and implement a <a href="https://github.com/gitenberg-dev/metadata">metadata specification for books.</a>
                    </li>
                    <li>
                        Learn the <a href="http://asciidoctor.org/docs/asciidoc-syntax-quick-reference/">AsciiDoc Syntax</a>
                    </li>
                    <li><a href="/books">Choose a book</a> you'd like to edit</li>
                    <li>Edit it</li>
                </ul>
            </div>
            <!-- right column -->
            <div class="large-4 small-6 columns">
                <h4 class="centered"><i class="fa fa-plus"></i> Everyone Else</h4>
                <hr>
                <ul>
                    <li>
                        Join the <a href="http://github.us10.list-manage.com/subscribe?u=46e966504bd829085d3ac3aca&id=c710d81de4">main email list</a> (low traffic)
                    </li>
                    <li>Join the <a href="https://groups.google.com/
forum/?utm_source=digest&utm_medium=email#!forum/gitenberg-project">google group</a> and introduce yourself (high traffic)</li>
                    <li><a href="https://github.com/gitenberg-dev/giten_site/issues">Request</a> <a href="https://github.com/gitenberg-dev/pg-epubmaker/issues">features</a></li>
                    <li><a href="mailto:gitenberg-project@googlegroups.com">Send feedback</a></li>
                    <li>Anything else you can think of</li>
                    <li>Feel free to <a href="mailto:gitenberg-project@googlegroups.com">email the group.</a> We're friendly!</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock body_content %}
