{% load staticfiles %}
<div class="contain-to-grid">
<nav class="top-bar" data-topbar>
  <ul class="title-area">

    <li class="name">
      <h1>
        <a href="/">
          <h3 style="color:#ffffff">GITenberg</h3>
        </a>
      </h1>
    </li>
  </ul>

  <section class="top-bar-section ">

    <ul class="right">
    <li class="has-form">
      <div class="row collapse">
       <form action="/search" >
        <div class="large-8 small-9 columns">
          <input type="search" name="q" placeholder="search title" />
        </div>
        <div class="large-4 small-3 columns">
          <input type="submit" value="Search" class="alert button expand">Search</a>
        </div>
        </form>
      </div>
    </li>
    </ul>
  </section>
</nav>
</div>


