{% load staticfiles %}
<div class="contain-to-grid">
<nav class="top-bar" data-topbar>
  <ul class="title-area">

    <li class="name">
      <h1>
        <a href="/">
          <h3 style="color:#ffffff">gitenberg</h3>
        </a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="right">
      <li class="divider"></li>
      <li><a href="/get-involved">get involved</a></li>
      <li class="divider"></li>
      <li><a href="/faq">FAQ</a></li>
      <li class="divider"></li>
      <li><a href="https://github.com/gitenberg-dev/wiki/wiki">Wiki</a></li>
    </ul>
  </section>
</nav>
</div>


