{% extends 'frame.html' %}
{% load fontawesome %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} GITenberg - Maintaining our Cultural Heritage in eBooks {% endblock title %}

{% block body_content %}

{% include "header.html" %}
<!-- top panel -->
<div class="row">
    <div class="small-12 columns">

        <div class="row">
            <div class="small-offset-1 small-10 columns logo-box" >
                <img src="{% static 'Gitenberg_full.svg' %}" alt="GITenberg logo">
            </div>
        </div>

        <div class="row">
            <div class="large-offset-1 large-3 small-2 columns icon-box">
              <i class="fa fa-5x fa-book"></i>
              <h4>Books</h4>
            </div>

            <div class="large-offset-1 large-2 small-4 columns icon-box">
              <i class="fa fa-5x fa-plus"></i>
            </div>

            <div class="large-offset-1 large-3 small-4 columns end icon-box">
              <i class="fa fa-5x fa-code-fork"></i>
              <h4>Git</h4>
            </div>
        </div>

        <div class="row">
            <div class="small-offset-1 small-10 columns mission-text panel">
                <h4>
                  Gitenberg is a <em>collaborative</em>,
                  open source community curating and publishing highly usable and attractive ebooks in the public domain.
                  Our books are <a href="{% url 'license' %}">free to use by anyone for any purpose</a>.
                  They contain detailed metadata and are accessible in a wide variety of formats.
                </h4>
            </div>
        </div>
    </div>
    <!-- .row .panel -->
</div>

<div class="row" style="height: 2em;"></div>
<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-4 small-12 columns centered">
                
                    <i style="color: black;" class="fa fa-5x fa-search"></i>
                    <h4>Find eBooks</h4>
                
                <hr>
                <p>Find free ebooks to download, read, improve, and savor.</p>
                <form action="/search" style="padding-top: 0.5em;">
                    <input style="width: 100%;" type="search" name="q" placeholder="Moby Dick">
                </form>
            </div>
            <div class="large-4 small-12 columns centered">
                <!-- The docs still need to be migrated to giten-site -->
                <a href="https://github.com/gitenberg-dev/documentation">
                    <i style="color: black;" class="fa fa-5x fa-file-text"></i>
                    <h4>Read the Docs</h4>
                </a>
                <hr>
                <p>See the technical details and discussion surrounding gitenberg.</p>
                <form action="https://github.com/gitenberg-dev/documentation">
                    <input style="width: 100%;" type="submit" value="Documentation" class="button">
                </form>
            </div>
            <div class="large-4 small-12 columns centered">
                <a href="/get-involved">
                    <i style="color: black;" class="fa fa-5x fa-pencil-square"></i>
                    <h4>Get Involved</h4>
                </a>
                <hr>
                <p>Learn more about contributing to the gitenberg project. All are welcome.</p>
                <form action="/get-involved">
                    <input style="width: 100%;" type="submit" value="Get Involved" class="button">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row panel">
  <div class="row">
    <div class="small-8 small-centered columns">
      <h2 class="text-center">Featured books</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-2 small-4 columns">
      <a href="https://github.com/GITenberg/Don-Quixote_996/releases">
    {% thumbnail request.scheme|add:'://'|add:request.get_host|add:STATIC_URL|add:'covers/Don-Quixote_996.png' '200' as im %}
    <img src="{{ im.url  }}">
    {% endthumbnail %}
        <h4 class="text-center">Don Quixote</h4>
      </a>
    </div>
    <div class="large-2 small-4 columns">
      <a href="https://github.com/GITenberg/Frankenstein_84/releases">
        {% thumbnail request.scheme|add:'://'|add:request.get_host|add:STATIC_URL|add:'covers/Frankenstein_84.png' '200' as im %}
    <img src="{{ im.url  }}">
    {% endthumbnail %}
        <h4 class="text-center">Frankenstein</h4>
      </a>
    </div>
    <div class="large-2 small-4 columns">
      <a href="https://github.com/GITenberg/Moby-Dick--Or-The-Whale_2701/releases">
        {% thumbnail request.scheme|add:'://'|add:request.get_host|add:STATIC_URL|add:'covers/Moby-Dick--Or-The-Whale_2701.jpg' '200' as im %}
    <img src="{{ im.url  }}">
    {% endthumbnail %}
        <h4 class="text-center">Moby Dick</h4>
      </a>
    </div>
    <div class="large-2 small-4 columns">
      <a href="https://github.com/GITenberg/Narrative-of-the-Life-of-Frederick-Douglass-an-American-Slave_23/releases">
        {% thumbnail request.scheme|add:'://'|add:request.get_host|add:STATIC_URL|add:'covers/Narrative-of-the-Life-of-Frederick-Douglass-an-American-Slave_23.png' '200' as im %}
    <img src="{{ im.url  }}">
    {% endthumbnail %}
        <h4 class="text-center">Frederick Douglass</h4>
      </a>
    </div>
    <div class="large-2 small-4 columns">
      <a href="https://github.com/GITenberg/Pride-and-Prejudice_1342/releases">
        {% thumbnail request.scheme|add:'://'|add:request.get_host|add:STATIC_URL|add:'covers/Pride-and-Prejudice_1342.png' '200' as im %}
    <img src="{{ im.url  }}">
    {% endthumbnail %}
        <h4 class="text-center">Pride and Prejudice</h4>
      </a>
    </div>
    <div class="large-2 small-4 columns">
      <a href="https://github.com/GITenberg/The-Time-Machine_35/releases">
        {% thumbnail request.scheme|add:'://'|add:request.get_host|add:STATIC_URL|add:'covers/The-Time-Machine_35.png' '200' as im %}
    <img src="{{ im.url  }}">
    {% endthumbnail %}
        <h4 class="text-center">The Time Machine</h4>
      </a>
    </div>
  </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <!-- left column -->
            <div class="large-6 small-12 columns">
                <h4 class="centered">Updates</h4>
                <hr>
                <div class="panel">
                    <h5><a href="/newsletter/2">Status Report #3</a></h5>
                    <h6 class="subheader">
            <ul>
                <li>
                Repos have been updated and cleaned
                </li>
                <li>
                We have a working asciidoc-to-epub building machine is operating
                </li>
                <li>
                This website!!!!
                </li>
            </ul>
          </h6>
                    <h6><a href="/newsletter/3">Read More »</a></h6>
                    <h6><a href="/newsletter/2">Previous »</a></h6>
                </div>
            </div>
            <!-- right column -->
            <div class="large-6 small-12 columns">
                <h4 class="centered">Join our mailing list</h4>
                <hr> {% include 'partials/sign-up-announce.htmldjango' %}
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock body_content %}
