.book-row {
    margin-bottom: 5px;
}

.centered {
  text-align: center;
}

.mission-text {
    text-align: center;
    line-height: 1.25;
    letter-spacing: .1em;
}


.blue {
  color: blue;
}

.reverse {
  display: inline-block;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
